<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand active" href="/">Grade Setting</a>
                <a class="navbar-brand" href="/createEmployeeFrom">Add Employee</a>
                <a class="navbar-brand" href="/bank-info">Add Bank Info</a>
                <a class="navbar-brand" href="/list-employees">Employee List</a>
                <a class="navbar-brand" href="/salary-info-list">Salary Sheet</a>
            </div>

        </div>

    </nav>


    <h3> Grade Setting</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/set-all-grade}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="bsalary" class="col-form-label">Set Basic salary of the lowest grade</label>
                            <input type="text" class="form-control"
                                   id="bsalary" name="bsalary" placeholder="Lowest basic salary" />
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>